body {
  background-color: grey;
  flex-direction: row;
}
.container{
  display: flex;
  align-self: baseline;
    
}

#card.profile-card{
height: 100%;
display: flex;
padding: 100px;
margin: 100px;
}

#navigation{
  justify-content: flex-end;
}

